.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card img{
    height: 350px;
  }

  .prev, .next{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right:-3%;
    border-radius: 3px 0 0 3px;
}

.prev{
    left:-3%;
}

.prev:hover, .next:hover{
    background: rgba(0,0,0, 0.8);
}

.container{
    background: #fff;
    max-width: 70%;
    padding: 2px 8px;
    position: relative;
    margin: auto;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.page{
    text-align: center;
    padding: 16px;
}

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #bbb;
    margin:0 2px;
    display: inline-block;
}
.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name:fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}